<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.havlicek.scrollingdetekceepi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".uithread.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"> <!-- Musít být portrait nebo landscape aby to nevolalo ondestroy pri orientationChange() -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".uithread.ServiceDetekce"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".uithread.KalibraceActivity"/>
        <activity android:name=".uithread.Grafy"
            android:screenOrientation="landscape"/>
    </application>

</manifest>
